html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    border:1px solid green;
    height: 100%;
    width: 100%;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: #222;
    color: #ddd;
    text-align: center;
    box-sizing: border-box;
    border:1px solid purple;
    height: 100%;
    width: 100%;
}
h1{
    margin: 0%;
    padding: 0%;
}
.site{
    border:1px solid powderblue;
    height: 100%;
    width: 100%;
}
.bigbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid white;
    height: 100%;
    width: 100%;
}

.name,.name2 {
    display: flex;
    justify-content: right;
    align-items: center;
    border: 1px solid blue;
    margin: 0%;
    padding: 10%;
    font-size: 75px;
}
.name2{
    justify-content: left;
}

.starter {
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}

.topnav {
    background-color: #999;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

.about {
    float: right;
}

.topnav a {
    float: left;
    color: #222;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.topnav a:hover {
    background-color: #666;
    color: black;
}

.topnav a:active {
    background-color: #777;
    color: white;
}

.light-mode {
    background-color: #999;
    color: #222;
}

.h2 {
    color: green;

}